{% extends "base.html" %}

{% block headtitle %}{{ artist.long_name }}{% endblock %}

{% block title %}{{ artist.long_name }}{% endblock %}

{% block subtitle %}
  {{ artist.biography }}
{% endblock %}

{% block content %}

<!-- <p><a href="{% url classical-artist-timeline artist.slug %}">Timeline</a></p> -->

{% if artist.works.all %}
  {% if artist.performances.all %}
    <h3>Compositions</h3>
  {% endif %}
<ul>
{% for work in artist.works.all %}
  <li><a href="{{ work.get_absolute_url }}">{{ work }}</a></li>
{% endfor %}
</ul>

{% endif %}

{% if artist.performances.all %}
  {% if artist.works.all %}
    <h3>Recordings</h3>
  {% endif %}

  {% regroup artist.performances_by_composer by recording.work.composer as groups %}
  {% for group in groups %}
    <h4>{{ group.grouper }}</h4>
    <ul>
    {% for performance in group.list %}
    {% with performance.recording.work as work %}
      <li>
        <a href="{{ performance.recording.get_absolute_url }}">{{ work }}</a>
	{% ifnotequal artist.instruments.count 1 %}
	  ({{ performance.instrument.noun|lower }})
	{% endifnotequal %}
      </li>
    {% endwith %}
    {% endfor %}
    </ul>
  {% endfor %}

{% endif %}

{% if artist.works.count %}
{% with artist.previous_composer as previous %}
{% with artist.next_composer as next %}
<br/>
<br/>
<table width="100%">
<tr>
  <td width="50%">
    {% if previous %}
     &laquo; <a href="{{ previous.get_absolute_url }}">{{ previous }}</a>
    {% endif %}
  </td>
  <td width="50%" align="right">
    {% if next %}
     <a href="{{ next.get_absolute_url }}">{{ next }}</a> &raquo;
    {% endif %}
  </td>
</tr>
</table>
{% endwith %}
{% endwith %}
{% endif %}

{% endblock %}
