{% extends "base.html" %}

{% block headtitle %}Classical music{% endblock %}

{% block title %}Classical music{% endblock %}

{% block content %}

<h2>Browse</h2>

<ul>
 <li><a href="{% url classical-composers %}">By composer</li></a>
 <li><a href="{% url classical-artists %}">By artist</li></a>
 <li><a href="{% url classical-ensembles %}">By ensemble</li></a>
 <li><a href="{% url classical-categories %}">By category</li></a>
</ul>

<h2>Other</h2>
<ul>
  <li><a href="{% url classical-stats %}">Statistics</a></li>
  <li><a href="{% url classical-timeline %}">Timeline</a></li>
</ul>

{% endblock %}
