{% extends "base.html" %}

{% load duration %}

{% block headtitle %}{{ work }} - {{ work.composer }}{% endblock %}

{% block title %}{{ work }}{% endblock %}

{% block subtitle %}<a href="{{ work.composer.get_absolute_url }}">{{ work.composer }}</a>{% endblock %}

{% block content %}

{% if work.category %}
  <p>Filed under <em><a href="{{ work.category.get_absolute_url }}#{{ work.composer.slug }}">{{ work.category }}</a></em></p>
{% endif %}

{% for recording in work.recordings.all %}


<h3 style="border-bottom: 1px dotted black; padding-bottom: 2px" id="{{ recording.slug }}">
{{ recording.short_name }}
<span style="font-size: 50%">
<a href="/admin/classical/recording/{{ recording.pk }}">edit</a>
<a href="{{ recording.get_absolute_url }}">#</a>
</span>
</h3>


{% ifnotequal recording.movements.count 1 %}
  <ul style="list-style-type:upper-roman">
  {% for movement in recording.movements.all %}
    {{ movement.section_title }}
    <li><a href="{% url play-music-file movement.music_file.id %}">{{ movement }}</a> <small>{{ movement.music_file.length|duration }}</small></li>
  {% endfor %}
  </ul>
{% endifnotequal %}

<ul>
{% for performance in recording.performances.all %}
{% with performance.get_subclass as subclass %}
  {% ifequal performance.subclass "artist" %}
    <li><a href="{{ subclass.artist.get_absolute_url }}">{{ subclass.artist.short_name }}</a> ({{ subclass.instrument|lower }})</li>
  {% else %}
    <li><a href="{{ subclass.ensemble.get_absolute_url }}">{{ subclass.ensemble }}</a></li>
  {% endifequal %}
{% endwith %}
{% endfor %}
</ul>


{% if recording.year %}
<p>Recorded: {{ recording.year }}</p>
{% endif %}

<p><a href="{% url classical-play-recording recording.id %}">Play</a> <small>{{ recording.total_duration|duration }}</small></p>

{% endfor %}

{% if work.source_relations.count or work.derived_relations.count %}
<hr/>

<h4>Related works</h4>
<ul>
{% for rel in work.source_relations.all %}
  <li>
    {% ifnotequal rel.derived.composer work.composer %}
      <a href="{{ rel.derived.composer.get_absolute_url }}">{{ rel.derived.composer }}</a> -
    {% endifnotequal %}
    <a href="{{ rel.derived.get_absolute_url }}">{{ rel.derived }}</a>
    ({{ rel.source_nature }})
  </li>
{% endfor %}
{% for rel in work.derived_relations.all %}
  <li>
    {% ifnotequal rel.source.composer work.composer %}
      <a href="{{ rel.source.composer.get_absolute_url }}">{{ rel.source.composer }}</a> -
    {% endifnotequal %}
    <a href="{{ rel.source.get_absolute_url }}">{{ rel.source }}</a>
    ({{ rel.derived_nature }})
  </li>
{% endfor %}
</ul>
{% endif %}

<hr/>

<p><a href="/admin/classical/work/{{ work.pk }}">edit</a></p>

{% with work.previous as previous %}
{% with work.next as next %}
<br/>
<br/>
<table width="100%">
<tr>
  <td width="50%">
    {% if previous %}
     &laquo; <a href="{{ previous.get_absolute_url }}">{{ previous }}</a>
    {% endif %}
  </td>
  <td width="50%" align="right">
    {% if next %}
     <a href="{{ next.get_absolute_url }}">{{ next }}</a> &raquo;
    {% endif %}
  </td>
</tr>
</table>
{% endwith %}
{% endwith %}

{% endblock %}
