{% extends "classical_add/base.html" %}

{% block headtitle %}Choose composer{% endblock %}

{% block form %}
  <h1>Choose composer</h1>

  <input type="hidden" class="id-target" name="composer-composer" value="">

  {{ form.errors }}

  <ul class="id_selector">
    {% with previous_recording.work.composer as prev %}
    <li style="margin-bottom: 2em"><big><a href="#" id="selector-{{ prev.pk }}">{{ prev }}</a></big></li>
    {% endwith %}

    {% for artist_id, name in form.fields.composer.choices %}
      {% if artist_id %}
      <li><a href="#" id="selector-{{ artist_id }}">{{ name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}

{% block next %}{% endblock %}

{% block post-form %}
<h2>New composer</h2>
<form action="{% url classical-add-artist %}" method="post" class="id_target_form">
<table>
  {{ new_artist_form }}
</table>
<input type="submit" value="Add"/>
</form>
{% endblock %}
