{% extends "classical_add/base.html" %}

{% block next %}

<dl>

<dt>Composer</dt>
<dd><a href="{{ data.composer.composer.get_absolute_url }}">{{ data.composer.composer }}</a></dd>

<dt>Work</dt>
<dd><a href="{{ data.work.work.get_absolute_url }}">{{ data.work.work }}</a></dd>

{% ifnotequal tracks|length 1 %}
<dt>Tracks</dt>
<dd>
 <ol>
 {% for track in tracks %}
   <li>{{ track }}</li>
 {% endfor %}
 </ol>
</dd>
{% endifnotequal %}

{% if data.recording.year %}
<dt>Year</dt>
<dd>{{ data.recording.year }}</dd>
{% endif %}

<dt>Performers</dt>
<dd>
  <ul>
  {% for performance in data.performers %}
  {% if performance.ensemble %}
    <li><a href="{{ performance.ensemble.get_absolute_url }}">{{ performance.ensemble }}</a></li>
  {% endif %}
  {% if performance.artist %}
    <li><a href="{{ performance.artist.get_absolute_url }}">{{ performance.artist }} ({{ performance.instrument|lower }})</a></li>
  {% endif %}
  {% endfor %}
  </ul>
</dd>

</dl>

<div style="margin: 2em">
<input type="submit" value="Confirm" style="font-size: 200%">
</div>

{% endblock %}
