{% extends "classical_add/base.html" %}

{% block form %}
<script language="javascript">
var performers =
[
{% for p in previous_recording.performances.all %}
  {% with p.get_subclass as s %}
    {% if s.artist %}
      {
        'artist': '{{ s.artist|escapejs }}', 'artist_id': {{ s.artist_id }},
        'instrument': '{{ s.instrument|escapejs }}', 'instrument_id': {{ s.instrument_id }}
      }
    {% else %}
      {'ensemble': '{{ s.ensemble|escapejs }}', 'ensemble_id': {{ s.ensemble_id }}}
    {% endif %}
  {% endwith %}
  {% if not forloop.last %},{% endif %}
{% endfor %}
];

$(function () {
	$('.add_ensemble').click(function () {
		var ensemble = $('#id_ensemble option:selected');
		if (!ensemble.val()) {
			return;
		}

    performers[performers.length] = {
      'ensemble': ensemble.text(),
      'ensemble_id': ensemble.val(),
    }

    return render();
  });

	$('.add_artist').click(function () {
		var artist = $('#id_artist option:selected');
		var instrument = $('#id_instrument option:selected');
		if ((!artist.val()) || (!instrument.val())) {
			return;
		}

    performers[performers.length] = {
      'artist': artist.text(),
      'artist_id': artist.val(),
      'instrument': instrument.text(),
      'instrument_id': instrument.val(),
    }

    return render()
	});

  var render = function () {
    $('.performers').empty();

    for (var i = 0; i < performers.length; ++i)
    {
      p = performers[i];

      s = '<li>';

      if (p.artist) {
        s += p.artist + ' (' + p.instrument + ')';
      } else  {
        s += p.ensemble;
      }

      if (i > 0) {
        s += ' <a href="#" class="down" id="down-' + i + '">[down]</a>';
      }

      if ((performers.length > 1) && (i < performers.length - 1)) {
        s += ' <a href="#" class="up" id="up-' + i + '">[up]</a>';
      }

      s += ' <a href="#" class="delete" id="delete-' + i + '">[X]</a>';

      if (p.artist) {
        s += '<input type="hidden" name="{{ form.prefix }}-' + i + '-artist" value="' + p.artist_id + '"/>';
        s += '<input type="hidden" name="{{ form.prefix }}-' + i + '-instrument" value="' + p.instrument_id + '"/>';
      } else {
        s += '<input type="hidden" name="{{ form.prefix }}-' + i + '-ensemble" value="' + p.ensemble_id + '"/>';
      }

      s += '</li>';

      $('.performers').append(s);

    }

    $('.performers .delete').click(function () {
      var idx = parseInt($(this).attr('id').split('-', 2)[1]);
      performers.splice(idx, 1);
      return render();
    });

    $('.performers .down').click(function () {
      var idx = parseInt($(this).attr('id').split('-', 2)[1]);
      var tmp = performers[idx];
      performers[idx] = performers[idx - 1];
      performers[idx - 1] = tmp;
      return render();
    });

    $('.performers .up').click(function () {
      var idx = parseInt($(this).attr('id').split('-', 2)[1]);
      var tmp = performers[idx];
      performers[idx] = performers[idx + 1];
      performers[idx + 1] = tmp;
      return render();
    });

    return false;
  };

  var setup_form = function(elems, target) {
    elems.submit(function() {
      var form = $(this);

      $.post(form.attr('action'), form.serialize(), function (data) {
        var elem = document.createElement('option');

        elem.value = data.object_id;
        elem.text = data.object;
        elem.selected = true;

        target.each(function () {
          this.options[this.options.length] = elem;
        });

        form.each(function () {
          this.reset();
        });

      }, "json");
      return false;
    }); 
  };

  setup_form($(".instrument_form"), $('#id_instrument'));
  setup_form($(".ensemble_form"), $('#id_ensemble'));
  setup_form($(".artist_form"), $('#id_artist'));

  // Initial render
  render();
});
</script>

<div class="performers"></div>

<pre>
</pre>

{% comment %}
  {% for p_form in form.forms %}
  {% with p_form.cleaned_data as data %}
  {% if data.ensemble %}
    <div>
    {{ forloop.counter }}. {{ data.ensemble }}
    <input type="hidden" name="{{ form.prefix }}-{{ forloop.counter0 }}-ensemble" value="{{ data.ensemble.pk }}"/>
    </div>
  {% endif %}
  {% if data.artist and data.instrument %}
    <div>
    {{ forloop.counter }}.
    {{ data.artist }} ({{ data.instrument }})
    <input type="hidden" name="{{ form.prefix }}-{{ forloop.counter0 }}-artist" value="{{ data.artist.pk }}"/>
    <input type="hidden" name="{{ form.prefix }}-{{ forloop.counter0 }}-instrument" value="{{ data.instrument.pk }}"/>
    </div>
  {% endif %}
  {% endwith %}
  {% endfor %}
</div>
{% endcomment %}

<div>
<h2>Add artist</h2>
{{ form.form.artist }}
{{ form.form.instrument }}
<input type="button" class="add_artist" value="Add"/>
</div>

<div>
<h2>Add ensemble</h2>
{{ form.form.ensemble }}
<input type="button" class="add_ensemble" value="Add"/>
</div>

{{ form.management_form }}
{% endblock %}

{% block post-form %}
<h2>New artist</h2>
<form action="{% url classical-add-artist %}" method="post" class="artist_form">
Forenames: {{ artist_form.forenames }}
Surname: {{ artist_form.surname }}
<input type="submit" value="Add"/>
</form>

<h2>New ensemble</h2>
<form action="{% url classical-add-ensemble %}" method="post" class="ensemble_form">
  {{ ensemble_form.name }}
<input type="submit" value="Add"/>
</form>

<h2>New instrument</h2>
<form action="{% url classical-add-instrument %}" method="post" class="instrument_form">
Noun: {{ instrument_form.noun }}
Adjective: {{ instrument_form.adjective }}
<input type="submit" value="Add"/>
</form>
{% endblock %}
