{% extends "classical_add/base.html" %}

{% block form %}
<script language="javascript">
$(function () {
  $('.copy-year').click(function () {
    var year = $(this).attr('id').split('-', 2)[1];
    $('#id_recording-year').val(year);
    return false;
  });
});
</script>

<h1>Track titles</h1>

{{ form.errors }}

<ol>
{% for field in form %}
  {% ifnotequal field.name "year" %}
  <li>{{ field }}</li>
  {% endifnotequal %}
{% endfor %}
</ol>
</table>

<h2>Recording year</h2>

{{ form.year }}

{% with previous_recording as prev %}
  {% if prev.year %}
    <p>Previous year was {{ prev.year }}. <a href="#" class="copy-year" id="year-{{ prev.year }}">Use this year.</a></p>
  {% endif %}
{% endwith %}

{% endblock %}
