{% extends "classical_add/base.html" %}

{% block headtitle %}Work details{% endblock %}

{% block form %}
<style type="text/css">
#id_title {
  width: 500px;
}
</style>

  <h1>Choose work</h1>

  <input type="hidden" class="id-target" name="work-work" value="">

  {{ form.errors }}

  <ul class="id_selector">
    {% with previous_recording.work as prev %}
    {% for work_id, name in form.fields.work.choices %}
      {% if work_id %}
      <li>
        <a href="#" id="selector-{{ work_id }}">{{ name }}</a>
        {% ifequal prev.pk work_id %}(previous){% endifequal %}</li>
      {% endif %}
    {% endfor %}
    {% endwith %}
  </ul>
{% endblock %}

{% block next %}{% endblock %}

{% block post-form %}
<h2>New work</h2>
<form action="{% url classical-add-work %}" method="post" class="id_target_form">
<input type="hidden" name="composer" value="{{ data.composer.composer.pk }}">
<table>
<tr>
  <th>Title</th>
  <td>{{ new_work_form.title }}</td>
</tr>
<tr>
  <th>Nickname</th>
  <td>{{ new_work_form.nickname }}</td>
</tr>
<tr>
  <th>Key</th>
  <td>{{ new_work_form.key }}</td>
</tr>
<tr>
  <th>Composed</th>
  <td>{{ new_work_form.year }} ? {{ new_work_form.year_question }}</td>
</tr>
</table>
<input type="submit" value="Add"/>
</form>

<h2>Filenames</h2>
<ol>
{% for filename in filenames %}
  <li>{{ filename }}</li>
{% endfor %}
</ol>

{% endblock %}
